/* Box sizing rules */
/* Remove default margin & padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  --color-primary-900: rgb(255, 255, 255);
  --color-primary-700: rgb(214, 226, 240);
  --color-primary-500: rgb(123, 135, 157);
  --color-primary-300: rgb(31, 50, 81);

  font-family: 'Outfit', sans-serif;

  --font-size-500: 0.9375rem;
  --font-size-700: 1.5rem;

  background-color: var(--color-primary-700);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.card {
  background-color: var(--color-primary-900);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  width: 35ch;
}

.qr-code {
  border-radius: 0.5rem;
}

.text {
  text-align: center;
  margin: 25px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

h1 {
  font-size: var(--font-size-700);
  font-weight: 700;
  color: var(--color-primary-300);
}

p {
  font-size: var(--font-size-500);
  font-weight: 400;
  color: var(--color-primary-500);
  max-width: 25ch;
  margin: auto;
}
